

.csvapigrid {
  display: flex;
  flex-direction: column-reverse; /* default for mobile */
  justify-content: flex-start;
  gap:5rem;
  width:100%;
}

.csvapiarea {
    display: flex;
    flex-direction: row  !important; /* default for mobile */
    justify-content: flex-start;
    width:15rem;
  }


@media (min-width: 600px) {
  .csvapigrid {
    flex-direction: row; /* for screens larger than 600px */
    justify-content: space-between !important;
    gap:1rem;
    width:130%;
  }

  .csvapiarea {
    display: flex;
    flex-direction: row !important; /* default for mobile */
    justify-content: flex-start;
    width:15rem;
  }

}



